<section class="mt-16 bg-cover bg-no-repeat h-60" style="background: url('/assets/imgs/Simple Shinyy.svg');">
    <div class="flex flex-col justify-center space-y-6 md:justify-between items-center md:mx-24 h-full md:flex-row md:space-y-0" >
     <h1 class="font-bold text-white text-3xl">Join our community</h1>
     <div class="flex">
       <a [routerLink]="['/login']" class="text-white border-2 border-white hover:bg-[#d66017] hover:border-[#d66017] font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2">Login</a>
       <a [routerLink]="['/signUp']" class="text-gray-800 bg-white hover:bg-[#d66017] hover:text-white font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2  ">Sign up</a>
     </div>
    </div>
 </section>
 