<!-- <div class="mx-10  md:mx-24 mt-6">
    <a  [routerLink]="['/']" class="flex items-center">
       <img src="/assets/imgs/Logo_DD_dark.png" alt="" width="160px">
    </a>
</div> -->
<!-- <section class="bg-[#FCFBFB]  hidden md:block">
<div class="h-screen pt-10 md:pt-28">
    <div class="flex flex-col items-center justify-center space-y-16 ">
        <div class="space-y-2">
            <h1 class="text-3xl text-gray-900 text-start font-bold">
                <span class="text-[#D66017]">Welcome to Board Game Coffee!</span> 
            </h1>
            <p class="text-gray-900 text-start  text-lg">
                Let’s begin the adventure
            </p>
        </div>
        <img src="/assets/imgs/picLogin.png" alt="" class="h-[340px] w-auto hidden md:block">
    </div>
</div>
</section> -->

<section class=" flex items-center justify-center mt-10">
<div class="flex flex-col items-center justify-center space-y-10">
    <div class="space-y-2">
        <h1 class="text-3xl text-gray-900 text-start font-bold">
            <span class="text-[#D66017]">Welcome to Board Game Coffee!</span> 
        </h1>
        <p class="text-gray-900 text-start  text-lg">
            Let’s begin the adventure
        </p>
    </div>
    <img src="/assets/imgs/picLogin.png" alt="" class="h-[330px] w-auto hidden md:block">
</div>
</section>