<!-- head section -->
<section class="bg-[#fcf8f5] py-16 space-y-4 flex flex-col justify-center items-center">
    <div class="m-4 md:m-0">
      <h2 class="font-semibold text-lg text-center md:text-xl tracking-widest text-gray-800">Ready to Play?</h2>
      <h1 class="font-bold text-xl text-center md:text-2xl capitalize text-gray-800">
        Reserve a <span class="text-[#ea803f] capitalize">Spot</span> for Your Game Night.
      </h1>
    </div>
  </section>
  <section class="bg-white mb-10  flex justify-center ">
    <!-- main section -->
    <div>
      <div class="">
        <h1 class="text-2xl font-bold pt-12 text-[#EA803F] text-center">Book Your Place</h1>
      </div>
      <form class="shadow-md md:shadow-lg p-8">
        <div class="grid grid-cols-1 gap-4 mb-4 sm:grid-cols-2 lg:grid-cols-">
          <!-- reservation date -->
          <div>
            <label class="block text-gray-700 font-medium mb-2" for="date">
              Reservation date
            </label>
            <input 
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="date" name="reservation_date" type="date" placeholder="YYYY-MM-DD" [(ngModel)]="reservation_date">
          </div>
          <!-- game -->
          <div>
            <div class="w-full"></div>
            <label class="block text-gray-700 font-medium mb-2" for="game">
              Game
            </label>
        
           <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="id_game" name="id_game" [(ngModel)]="id_game">
            <option disabled>Select a game</option>
            <option *ngFor="let game of games" [value]="game.id">{{ game.name }}</option>
            </select>




          </div>
          <!-- start time -->
          <div>
            <label class="block text-gray-700 font-medium mb-2" for="start-time">
              Start time
            </label>
            <select
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="start_time" name="start_time" [(ngModel)]="start_time">
              <option disabled>Select a Start time</option>
              <option value="8:00 AM">8:00 AM</option>
              <option value="9:00 AM">9:00 AM</option>
              <option value="10:00 AM">10:00 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="1:00 PM">1:00 PM</option>
              <option value="2:00 PM">2:00 PM</option>
              <option value="3:00 PM">3:00 PM</option>
              <option value="4:00 PM">4:00 PM</option>
            </select>
          </div>
          <!-- end time -->
          <div>
            <label class="block text-gray-700 font-medium mb-2" for="end-time">
              End time
            </label>
            <select
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="end_time" name="end_time" [(ngModel)]="end_time">
              <option disabled>Select an end time</option>
              <option value="8:00 AM">8:00 AM</option>
              <option value="9:00 AM">9:00 AM</option>
              <option value="10:00 AM">10:00 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="1:00 PM">1:00 PM</option>
              <option value="2:00 PM">2:00 PM</option>
              <option value="3:00 PM">3:00 PM</option>
              <option value="4:00 PM">4:00 PM</option>
            </select>
          </div>
          <!-- payment -->
          <div>
            <label class="block text-gray-700 font-medium mb-2" for="payment">
              Payment terms
            </label>
            <select
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="payement" name="payement" [(ngModel)]="payement">
              <option value="" disabled>Select a payment method</option>
              <option value="visa">Visa</option>
              <option value="mastercard">Mastercard</option>
              <option value="cash">Cash</option>
            </select>
          </div>
        </div>
        <!-- more instructions  -->
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2" for="instructions">
            Special Instructions
          </label>
          <textarea
            class="h-20 resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight "
            id="instructions" name="instructions" [(ngModel)]="instructions" placeholder="You want to tell us something ? ..."></textarea>
        </div>
  
        <!-- form footer section  -->
        <div class="flex justify-between items-center">
          <!-- cancellation -->
          <div>
            <a class="cursor-pointer text-gray-600 font-normal capitalize text-md" type="button" (click)="toggleModal()">
              Cancellation Policy
            </a>
            <div *ngIf="showModal"
              class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
              <div class="relative w-auto my-6 mx-auto max-w-3xl">
                <div
                  class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                  <!--header-->
                  <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
                    <h3 class="text-xl font-semibold">
                      Cancellation Policy
                    </h3>
                    <button
                      class="p-1 ml-auto  border-0 text-gray-900 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                      (click)="toggleModal()">
                      <span class="bg-transparent text-gray-900 h-6 w-6 text-2xl block outline-none focus:outline-none">
                        ×
                      </span>
                    </button>
                  </div>
                  <!--body-->
                  <div class="relative p-6 flex-auto">
                    <p class="my-4 text-slate-500 text-lg leading-relaxed">
                      <span class="font-medium ">We understand that plan changes may occur and we are happy to cancel your
                        reservation if
                        necessary. However, we ask that you notify us as soon as possible if you need to cancel. If you
                        cancel
                        your reservation at least 24 hours before the reservation time, no fee will be charged. If you
                        cancel less
                        than 24 hours before the reservation time, we reserve the right to charge a cancellation fee
                        equivalent to
                        50% of the cost of the reservation. If you do not show up for your reservation without prior
                        cancellation,
                        we will charge a cancellation fee equivalent to 100% of the cost of the reservation.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
          </div>
          <!-- book btn -->
          <div class="">
            <button (click)="addReservation()"
              class="bg-[#EA803F] hover:bg-[#D76823] text-white py-2 px-6  font-medium rounded focus:outline-none focus:shadow-outline"
              type="button">
              Reserve
            </button>
          </div>
        </div>
  
      </form>
    </div>
  </section>
  