<!-- <div class="mx-10  md:mx-24 mt-6">
    <a  [routerLink]="['/']" class="flex items-center">
       <img src="/assets/imgs/Logo_DD_dark.png" alt="" width="160px">
    </a>
</div> -->
<section class=" flex items-center justify-center mt-10">
    <div class="flex flex-col items-center justify-center space-y-10">
        <div class="space-y-2">
            <h1 class="text-3xl text-gray-900 text-start font-bold">
                <span class="text-[#D66017]">Welcome back !</span> 
            </h1>
            <p class="text-gray-900 text-start  text-lg">
               You can sign in to access with your existing account.
            </p>
        </div>
        <img src="/assets/imgs/picLogin.png" alt="" class="h-[330px] w-auto hidden md:block">
    </div>
</section>