<section class="">
    <div class="mx-10 pt-[10px] md:mx-24 my-10">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-10">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-[#D76823]">
                    <tr>
                        
                        <th scope="col" class="px-6 py-3 text-white">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3 text-white">
                            Start
                        </th>
                        <th scope="col" class="px-6 py-3 text-white">
                            End
                        </th>
                        <th scope="col" class="px-6 py-3 text-white">
                            Game
                        </th>
                        <th scope="col" class="px-6 py-3 text-white">
                            Payement
                        </th>
                        <th scope="col" class="px-6 py-3 text-white">
                            Instructions
                        </th>
                        <th scope="col" class="px-6 py-3 text-white">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reservation of reservations | paginate: { itemsPerPage: 9, currentPage: p }"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                        
                        <td class="px-6 py-4">
                            {{reservation.reservation_date}}
                        </td>
                        <td class="px-6 py-4">
                            {{reservation.start_time}}
                        </td>
                        <td class="px-6 py-4">
                            {{reservation.end_time}}
                        </td>
                        <td class="px-6 py-4">
                            {{reservation.game_name}}
                        </td>                        
                        <td class="px-6 py-4">
                            {{reservation.payement}}
                        </td>
                        <td class="px-6 py-4">
                            {{reservation.instructions}} 
                        </td>
                        <button
                            class="  text-white font-medium capitalize m-2 ml-2 text-sm px-2 py-1 rounded border border-[#1e5606] hover:text-black hover:bg-[#ffd966] bg-[#1e5606] focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                            type="button" >
                            Verified
                        </button>
                    </tr>

                </tbody>
            </table>
            <div class="flex justify-center md:justify-end mt-4">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>