
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ngx-pagination .current
{
    background:#EA803F !important;
}
.ngx-pagination li
{
    border-radius:50% !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
