<section class="">
    <div class="space-y-16 my-16 md:my-28">
        
        <div>
            <h2 class="font-semibold text-lg text-center md:text-xl tracking-widest uppercase">Features</h2>
            <h1 class="font-bold text-xl text-center md:text-2xl">
                Our <span class="text-[#ea803f] capitalize">Features</span> & <span
                    class="text-[#ea803f] capitalize">Services</span>.
            </h1>
            </div>
        <div class="flex flex-col  items-center gap-6 mx-10 mt-16 md:mx-24 md:flex-row md:justify-between md:items-stretch">
            <div class="block max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">
                    Books
                </h5>
                <p class="font-normal text-gray-700 text-justify">
                    Our Board Game Café offers a diverse collection of books, spanning from timeless classics to contemporary bestsellers. Whether you're an avid reader or just starting to explore the world of literature, we have something to captivate every imagination. Come alone to immerse yourself in a good book or bring friends to discuss your latest literary discoveries in our cozy and inviting environment.
                </p>
            </div>
            <div class="block max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">
                    Games
                </h5>
                <p class="font-normal text-gray-700 text-justify">
                    Our Board Game Café offers a wide variety of board games, ranging from classic favorites to the
                    latest releases. Whether you're a seasoned player or new to the scene, we have something for
                    everyone. Come alone or bring friends to enjoy a game or two in a comfortable and welcoming
                    environment.
                </p>
            </div>
            <div class="block max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">
                    Coffe
                </h5>
                <p class="font-normal text-gray-700 text-justify">
                    Enjoy a warm and inviting café atmosphere while you play. We offer a range of coffee and tea options, as well as light snacks and refreshments to help keep you going during your game sessions.
                </p>
            </div>
            <div class="block max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">
                    Meeting New People
                </h5>
                <p class="font-normal text-gray-700 text-justify">
                    Our Board Game Café is a great place to meet new people who share your passion for board games. With a friendly and welcoming environment, you'll be able to connect with like-minded individuals and make new friends in no time. 
                </p>
            </div>
        </div>
    </div>
</section>